MediaCMS.site = {
 	id: 'mediacms',
    title: "{{PORTAL_NAME}}",
    url: '{{FRONTEND_HOST}}',
    api: '{{FRONTEND_HOST}}api/v1',
    theme: {
    	mode: '{{DEFAULT_THEME}}',   
		switch: {
			position: 'sidebar',	// Valid values: 'header', 'sidebar'.
		},
    },
    logo:{
    	lightMode:{
            img: "/static/images/logo_dark.png",
            svg: "/static/images/logo_dark.svg",
    	},
    	darkMode:{
            img: "/static/images/logo_light.png",
            svg: "/static/images/logo_light.svg",
    	},
    },
    pages: {
	    latest:{
	    	title: '最新',
	    },
	    featured:{
	    	title: '精选',
	    },
	    recommended:{
	    	title: '推荐',
	    },
	    members:{
	    	title: '成员',
	    },
    },
    userPages: {
    	liked: {
	    	title: '喜欢的媒体',
    	},
    	history: {
	    	title: '历史',
    	},
    },
    taxonomies: {
	    tags: {
	    	title: '标签',
	    },
	    categories: {
	    	title: '分类',
	    },
    },
};

